@class-prefix-button: ~'pigu-button';

.@{class-prefix-button} {
  --text-color: var(--pigu-color-text);
  --background-color: var(--pigu-color-defalut);
  --border-radius: 4px;
  --border-width: thin;
  --border-style: solid;
  --border-color: currentColor;

  position: relative;
  display: inline-block;
  height: auto;
  padding: 7px 16px;
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.4;
  white-space: nowrap;
  text-align: center;
  background-color: var(--background-color);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s, background-color 0.25s;
  user-select: none;
  will-change: box-shadow;

  &:active {
    box-shadow: 0 3px 5px -1px var(--shadow-key-umbra-opacity),
      0 5px 8px 0 var(--shadow-key-penumbra-opacity), 0 1px 14px 0 var(--shadow-key-ambient-opacity);
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    border: inherit;
    border-color: #000;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }
  &:active::before {
    opacity: 0.1;
  }

  &-primary {
    --text-color: var(--pigu-color-white);
    --background-color: var(--pigu-color-primary);
  }

  &-info {
    --text-color: var(--pigu-color-white);
    --background-color: var(--pigu-color-info);
  }

  &-success {
    --text-color: var(--pigu-color-white);
    --background-color: var(--pigu-color-success);
  }

  &-warning {
    --text-color: var(--pigu-color-white);
    --background-color: var(--pigu-color-warning);
  }

  &-danger {
    --text-color: var(--pigu-color-white);
    --background-color: var(--pigu-color-danger);
  }

  &-mini {
    padding: 3px 7px;
    font-size: 13px;

    &.@{class-prefix-button}-round {
      width: 28px;
      height: 28px;
    }
  }

  &-small {
    padding: 3px 11px;
    font-size: 15px;

    &.@{class-prefix-button}-round {
      width: 36px;
      height: 36px;
    }
  }

  &-normal {
    &.@{class-prefix-button}-round {
      width: 44px;
      height: 44px;
    }
  }

  &-large {
    padding: 11px 22px;
    font-size: 18px;

    &.@{class-prefix-button}-round {
      width: 52px;
      height: 52px;
    }
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-disabled {
    box-shadow: none !important;
    cursor: not-allowed;
    --text-color: var(--pigu-color-disabled-text);
    --background-color: var(--pigu-color-disabled);
  }

  &-text {
    box-shadow: none !important;
    --background-color: var(--pigu-color-transparent);
  }

  &-text-primary {
    --text-color: var(--pigu-color-primary);
  }

  &-text-info {
    --text-color: var(--pigu-color-info);
  }

  &-text-success {
    --text-color: var(--pigu-color-success);
  }

  &-text-warning {
    --text-color: var(--pigu-color-warning);
  }

  &-text-danger {
    --text-color: var(--pigu-color-danger);
  }

  &-outline {
    border: var(--border-width) var(--border-style) var(--border-color);
  }

  &-round {
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
  }
}
