.ripple {
  position: absolute;
  z-index: 9999;
  border-radius: 50%;
  opacity: 0.3;
}

.ripple-show {
  animation: ripple_show 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ripple-hide {
  animation: ripple_hide 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes ripple_show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple_hide {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}
